.wrapper {
    height: 100%;
    display: grid;
}

.canvas {
    border: 1px solid grey;
    margin: auto;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 16px;
}

.controls > button {
    padding: 0 16px;
}
